.container-fluid {
    padding: 0;
}

.element.style {
    --bs-gutter-x: 0;

}

.navbar {
    padding: 10px 0 10px 20px;
    font-size: 18px;
    color: white;
}

#navbarNav {
    margin-right: 200px;
}

#logo {
    width: 100px;
    margin-left: 50px;
}

#intro {
    color: white;
    background-color: #24292d;
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

#intro-text {
    padding: 20px;
    font-size: 20PX;
}

#intro-text h1 {
    font-size: 70px;
    font-weight: bolder;
}

#intro-photo img {
    /* margin-top: 20px; */
    width: 400px;
}

#hire-me {
    background-color: #00ffbb;
    /* font-weight: bold; */
    border-radius: 30px;
    padding: 10px;
    width: 200px;
}

#content {
    color: white;
    background-color: #292f35;
    /* height: 500px; */

}

#my-introduction-text {
    padding: 20px;
    margin: 20px;
    margin-top: 150px;
    display: inline;
    font-size: 20px;
}

#my-introduction-photo {
    padding: 20px;
    margin: 20px;
    margin-top: 150px;
    display: inline;
}

#my-introduction-photo img {
    border-radius: 30px;
    outline: 2px ridge #00ffbb;
    outline-offset: 15px;
    /* box-shadow: 15px 15px 0.8 #00ffbb inset; */
}

#my-introduction {
    display: flex;
    justify-content: center;
}

#languages {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    margin-top: 150px;
    font-size: 20px;
}

/* 212529 */